.logo {
  width: 250px;
  margin: 25px 50px;
}

.catch {
  margin: 0 0 50px 50px;
  font-style: italic;
  font-size: 24px;
  color: grey;
}

.row .col.s12 {
  padding: 0;
}

.container {
  padding: 0 10em;
}

.card {
  width: 80%;
  margin:10%;
}